<div class="center-element">
  <div style="width: 100%">
    <h1 class="text-center">Mates</h1>
    <div class="center-element">
      <button
        style="width: 125px"
        (click)="redirectList()"
        class="btn m-1 btn-outlined-primary"
      >
        <span style="font-size: 16px">Return to List</span>
      </button>
    </div>
    <div class="center-element">
      <button
        (click)="displayForm()"
        class="btn m-1"
        [ngClass]="{
          'btn-outlined-secondary': formCollapsed,
          'btn-purple': !formCollapsed
        }"
      >
        <span style="font-size: 16px"
          >{{ formCollapsed ? "Cancel" : "Create new Mates" }}
        </span>
      </button>
    </div>
    <div
      class="center-element container hide-container"
      [ngClass]="{
        'display-form-container': formCollapsed
      }"
    >
      <app-create-mates-form
        (handleClose)="displayForm()"
      ></app-create-mates-form>
    </div>
    <app-list-mates [unicorns]="unicorns"></app-list-mates>
  </div>
</div>
