<div class="center-element">
  <div style="width: 100%">
    <h2 class="text-center">My clan</h2>
    <div class="center-element">
      <button
        (click)="displayForm()"
        class="btn"
        [ngClass]="{
          'btn-outlined-secondary': formCollapsed,
          'btn-primary': !formCollapsed
        }"
      >
        <span style="font-size: 16px"
          >{{ formCollapsed ? "Cancel" : "Create new Unicorn" }}
        </span>
      </button>
    </div>
    <div
      class="center-element container hide-container"
      [ngClass]="{
        'display-form-container': formCollapsed
      }"
    >
      <app-add-form-unicorn
        (handleClose)="displayForm()"
      ></app-add-form-unicorn>
    </div>
  </div>
</div>
<app-list-unicorn></app-list-unicorn>
