<div class="center-element">
  <div style="width: 100%">
    <h1 class="text-center">My clan</h1>
    <div class="center-element">
      <button
        (click)="displayForm()"
        class="btn m-1"
        [ngClass]="{
          'btn-outlined-secondary': formCollapsed,
          'btn-primary': !formCollapsed
        }"
      >
        <span style="font-size: 16px"
          >{{ formCollapsed ? "Cancel" : "Create new Unicorn" }}
        </span>
      </button>
    </div>
    <div
      class="center-element container hide-container"
      [ngClass]="{
        'display-form-container': formCollapsed
      }"
    >
      <app-add-form-unicorn
        (handleClose)="displayForm()"
      ></app-add-form-unicorn>
    </div>
    <div class="center-element" *ngIf="unicorns && unicorns.length > 1">
      <button
        style="width: 125px"
        (click)="redirectMates()"
        class="btn m-1 btn-purple"
      >
        <span style="font-size: 16px">Create Mates </span>
      </button>
    </div>
  </div>
</div>
<app-list-unicorn [unicorns]="unicorns"></app-list-unicorn>
