$font-stack: 'Product Sans', sans-serif
$text-color: #2E3A59
$primary-color: #4C6FFF
$secondary-color: #919cab
$light-color: #DEE1E5
$extra-light-color: #F5F6F7
$error-color: #FF3D71
$purple-color: #9464c5
$margin-default: 8px

html, body
  font: 100% $font-stack
  color: $text-color

.d-flex 
    display: flex
    
.center-element
    justify-content: center
    display: flex
    width: 100%

.vertical-align
    display: flex
    flex-direction: column

.flex-wrap
    flex-wrap: wrap

.text-center
    text-align: center

.btn
    color: white
    border-radius: 5px
    padding: 10px
    cursor: pointer
    box-shadow: rgb(145 158 171 / 24%) 0px 8px 16px 0px
    transition: all 0.25s
    &:hover 
       transform: scale(1.04)

.btn-primary
    background-color: $primary-color
    border: 1px solid $primary-color

.btn-outlined-primary
    background-color: white 
    color: $primary-color
    border: 1px solid $primary-color

.btn-secondary
    background-color: $secondary-color
    border: 1px solid $secondary-color

.btn-outlined-secondary
    background-color: white 
    color: $secondary-color
    border: 1px solid $secondary-color

.btn-purple
    background-color: $purple-color
    border: 1px solid $purple-color

.icon-btn
    justify-content: center
    align-items: center
    display: flex
    width: 30px
    height: 30px
    border-radius: 50%
    background-color: $extra-light-color
    cursor: pointer
    transition: all 0.25s
    box-shadow: rgb(145 158 171 / 24%) 0px 2px 6px 0px
    &:hover 
       transform: scale(1.04)

.card
    box-shadow: rgb(145 158 171 / 24%) 0px 8px 16px 0px
    border-radius: 18px
    padding: 20px

.form-control
    padding: 10px
    border: 1px solid #919cab
    border-radius: 5px

.form-control--error
    border: 1px solid $error-color

.fieldset-custom
    border: 1px solid #919cab
    border-radius: 5px

.form-label
    font-size: 14px

.mt-1
    margin-top: $margin-default
.mt-2
    margin-top: 2 * $margin-default
.mt-3
    margin-top: 3 * $margin-default
.mt-4
    margin-top: 4 * $margin-default
.mt-5
    margin-top: 5 * $margin-default

.m-1
    margin: $margin-default
.m-2
    margin: 2 * $margin-default
.m-3
    margin: 3 * $margin-default
.m-4
    margin: 4 * $margin-default
.m-5
    margin: 5 * $margin-default

.pointer 
    cursor: pointer

.text-error
    color:$error-color
    font-size: 12px

.disabled
    opacity: 0.4
    cursor: not-allowed !important
    transform: none !important

.loading
    &:after 
        content: "."
        animation: dots 1.2s steps(5, end) infinite

@keyframes dots 
    0%
        color: rgba(0, 0, 0, 0)
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0)
    20% 
        color: rgba(0, 0, 0, 0)
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0)
    40%
        color: white
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0)
    60%
        text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0)
    80%,
    100%
        text-shadow: 0.25em 0 0 white, 0.5em 0 0 white
	
